
body{
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


section{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;

}


#title{
    font-family: 'Eater', cursive;

}

#subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;

}

#body{
    border: 3px solid;
    background-color: rgba(0, 0, 0, 0.623);
    border: 3px solid transparent;
    border-image: linear-gradient(-60deg, #1FA2FF, #12D8FA, #A6FFCB);
    border-image-slice: 1;

}

.line{
    border: solid 1px transparent;
    border-image: linear-gradient(100deg, #1FA2FF, #A6FFCB);
    border-image-slice: 1;
    width: 75%;
}

.page2{
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
}

.line2{
    border: solid 1px transparent;
    border-image: linear-gradient(-100deg, #1FA2FF, #12D8FA, #A6FFCB);
    border-image-slice: 1;
}

.book{
    background-color: #03a9f4;
    border: #03a9f4;
    padding-bottom: 3px;
    width: 75%;
}


.user{
    background: #0288d1;
    color: #0288d1;
    border: 3px solid #0288d1;
}

/* .form-group {
    width: 900px;
    background-color: orange;
    opacity: 0.75;
    padding: 40px;
    border-radius: 3px;
    margin-top: 40px;
    margin: auto;
    margin-top: 10px;
} */

.page3{
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.box{
    background-color: rgba(0, 0, 0, 0.49);
    margin: auto;
    border: 3px solid transparent;
    border-image: linear-gradient(80deg, #1FA2FF, #12D8FA, #A6FFCB);
    border-image-slice: 1;


}

.material-icons.white700 {
     color: #fff; 
}

.times{
    margin-top: 5%;
}

.space{
    display: inline-block;
}

#barberbooking {
    text-align: center;
    padding: 30px;
}