section{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;

}

.page-back{
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
    position: absolute;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(4px);
    z-index: -3;

}

#title{
    font-family: 'Eater', cursive;

}

#subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;

}

#body{
    border: 3px solid #0b486b;
    background-color: rgba(0, 0, 0, 0.623);

}

.line{
    border-color: #0b486b;
    width: 75%;
    

}

.page2{
    background: #0b486b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0b486b, #f56217); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0b486b, #f56217); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: orange;
}

.book{
    background-color: orange;
    border: orange;
    padding-bottom: 3px;
    width: 75%;
}

.user{
    background: orange;
    color: orange;
    border: 2px solid orange;
}

.form-group {
    width: 900px;
    background-color: orange;
    opacity: 0.75;
    padding: 40px;
    border-radius: 3px;
    margin-top: 40px;
    margin: auto;
    margin-top: 10px;
}

.btn {
    background-color: orange;
    border-color: gray !important;
}

.notabutton {
    background-color: gray !important;
}